# file options

--exclude .build,.tuist-bin,build
--swiftversion 5.8

# format options

--indent 2
--maxwidth 150
--funcattributes prev-line
--typeattributes prev-line
--varattributes same-line
--wraparguments preserve
--wrapcollections before-first
--wrapconditions after-first
--wrapparameters preserve
--wrapternary before-operators

--header ""

# rules

--disable \
 andOperator, \
 wrapMultilineStatementBraces, \
 wrapSwitchCases, \
 organizeDeclarations, \
 wrapEnumCases, \
 redundantNilInit

--enable \
 blankLinesBetweenImports, \
 blankLineAfterImports, \
 markTypes, \
 blockComments, \
 sortSwitchCases, \
 docComments, \
 isEmpty
